*{
    font-family:"Lato";
}
body{
	background-color:#f5f5f5;
    min-height:1100px;
}
.uk-navbar{
	background-color: #00a8e6!important;
    min-height: 60px;
    box-shadow: 4px 4px 4px #818181;
    padding: 20px 20px 0px;
    border-bottom: 1px solid #0091ca;
    margin-top:-20px;
}
.uk-navbar-brand{
	font-size:24px!important;
}
.uk-navbar-nav>li>a,.uk-navbar-brand{
	color:#fff;
}
.uk-navbar-nav>li>a{
	    font-size: 18px;
	    font-weight:300;
        font-family:"Lato";
        border-right: 1px solid #fff;
}
.uk-navbar-nav>li.uk-open>a, 
.uk-navbar-nav>li:hover>a, 
.uk-navbar-nav>li>a:focus {
    color: #f5f5f5;
    background-color: #35b3ee;
}
.uk-dropdown-navbar {
    background: #35b3ee;
    color: #f5f5f5;
    border-bottom: 1px solid #00a8e6;
    border-left: 1px solid #00a8e6;
    border-right: 1px solid #00a8e6;
}
.uk-dropdown-navbar li a{
    color:#f5f5f5;
}
thead {
    border: 1px solid #0091ca;
    background-color: #00a8e6;
    color: #fff;
    box-shadow: 4px 4px 4px #dedede;
}
tbody tr {
    border-bottom: 1px solid;
}
input:not([type]).uk-form-large,
input[type].uk-form-large, 
select.uk-form-large, 
textarea.uk-form-large,
textarea {
    padding: 8px 6px;
    font-size: 16px;
    box-shadow: inset 2px 2px 2px #c1c1c1;
    border: 1px solid #07d;
    border-radius: 2px;
    margin-top: 10px;
    min-height: 40px;
    font-family: "Lato";
    font-weight: 400;
    color: #000;
    font-size: 16px;
    padding-left: 10px;
}
label {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.uk-button-success {
    background-color: #8cc14c;
    color: #fff;
    padding: 3px 15px;
    font-weight: 300;
    font-family: "Lato";
    border-radius: 2px;
    border: 1px solid #659f13;
    box-shadow: 2px 4px 4px #c1c1c1;
    font-size: 16px;
}
.uk-button-primary {
    color: #fff;
    padding: 3px 15px;
    font-weight: 300;
    font-family: "Lato";
    border-radius: 2px;
    border: 1px solid #0091ca;
    box-shadow: 2px 4px 4px #c1c1c1;
    font-size: 16px;
    background-color: #35b3ee;
}
.uk-button-danger {
    color: #fff;
    padding: 3px 15px;
    font-weight: 300;
    font-family: "Lato";
    border-radius: 2px;
    box-shadow: 2px 4px 4px #c1c1c1;
    font-size: 16px;
    background-color: #da223d;
    border: 1px solid #ef0c0c
}
.uk-panel-box {
    padding: 15px;
    background: #fff;
    color: #444;
    font-family: "Lato";
    border: 1px solid #00a8e6;
    box-shadow: 2px 4px 2px #dedede;
    font-weight: 300;
}
.uk-article {
    background-color: #fff;
    padding: 16px 25px 10px;
    border: 1px solid #00a8e6;
    box-shadow: 2px 2px 2px #c1c1c1;
    font-family: "Lato";
    font-weight: 400;
    color: #000;
}
ul.uk-subnav ~ .post_block,
ul.uk-subnav ul + div ~ .post_block {
    background-color: #fff;
    padding: 10px 20px 25px;
    border-top: 2px solid #059;
    border-bottom: 2px solid #0091ca;
    box-shadow: 2px 2px 2px #c1c1c1;
    max-width: 800px;
    margin: 0 auto;
    color: #000;
    font-weight: 400;
    font-family: "Lato";
    padding-top: 30px;
}
/*ul.uk-subnav ~ .post_block h2 {
    display: block;
    width: 100%;
    position: absolute;
    height: 30px;
    background-color: #0091ca;
    margin-top: -45px;
    margin-left: -535px;
    max-width: 820px;
    color: #fff;
    padding-top: 0px;
    font-weight: 300;
    font-family: "Lato";
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    box-shadow: 2px 2px 2px #818181;
}*/